.jimu-widget-demo div:first-child{
  color: red;
}

.widgetContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.selectionPanel {
  width: 100%;
  height: 100%;
}

.selectionResultChooser {
  padding-top: 10px;
  height: 75%;
  overflow-y: auto;
}
.selectionResultChooserHeader {
  padding-bottom: 10px;
  font-size: 12pt;
}
.selectionResultChooserResults {
  height: 85%;
  overflow-y: auto;
}

.panelHeaders {
  padding-bottom: 10px;
  font-size: 12pt;
}

.mapChooser {
  width: 100%;
}

.mapChooserHeader {
  font-size: 12pt;

}

.mapChooserIcon{
  width: 32px;
  height: 32px;
  background-image: url("../images/search_hover.png");
  background-repeat: no-repeat;
}

.saveMyContentHolder {
  padding-bottom: 10px;
}

.saveOptionHeader {
  font-size: 12pt;
  font-weight: bold;
  padding-bottom: 10px;
}

.saveOptionFieldSet {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #D2DAE2;
}

.saveChooserText {
  padding-top: 10px;
}

.saveHeaderLegend {
  font-size: 12pt;
}

.input-label {
  display:inline-block;
  width: 20%;
}

.input-item {
  display:inline-block;
  width: 70%;
}

.inline {
  display:inline-block;
}

.checkLabel {
  font-size: 12pt;
  padding-left: 5px;
}

.popupOption {
  padding-top: 10px;
}

.buttonNavPanel {
  width: 100%;
  text-align: left;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.backButtonHolder {
  position: absolute;
  left: 0;
  bottom: 0px;
}

.okButtonHolder {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.updateButtonHolder {
  position: absolute;
  right: 0;
  bottom: 0px;
}